@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
    // overflow: #000 1px solid;
}
body {
    font-family: Open Sans;
}
a {
    text-decoration: none;
    color: #000;
}
.header {
    height: 100px;
    display: flex;
    background-color: #d4e1cf;
    grid-area: header;

    &__nav {
        display: flex;
        width: 100%;
        height: 100px;
        align-items: center;
    }

    &__logo {
        color: #222121;

        /* Text */
        font-family: Open Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */

        align-items: center;
        display: flex;
        margin: 0 45.736% 0 0;
    }

    &__item {
        margin: 0 3.05% 0 0;
        display: block;
        color: #222121;

        /* Caption */
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }

    &__item-last {
        text-decoration: none;
        margin: 0 5.4158% 0 0;
    }

    &__loginIn {
        text-decoration: none;
    }
}
.container {
    width: 96.875%;
    margin: auto;
}

.footer {
    height: 100px;
    display: flex;
    background-color: #d4e1cf;
    align-items: center;
    justify-content: center;
    // grid-area: footer;
}
.main {
    &__title {
    }

    &__content {
    }

    &__left {
    }

    &__profile {
        width: 563px;
        height: 494px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 2px solid #222121;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            color: #222121;
            text-align: center;

            /* H2 */
            font-family: Open Sans;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px; /* 125% */

            margin: 60px 0 20px 0;
        }
        &__image {
            flex-shrink: 0;
            background: url(/Img/image\ 16.png), lightgray 50% / cover no-repeat;
            border-radius: 50%;
            background-image: no-repeat;
            width: 106.773px;
            height: 106.773px;
            flex-shrink: 0;
            margin: 0 0 20px 0;
        }
        &__content {
            width: 490px;
            margin: 0 auto;
        }
        &__userName {
            color: #222121;

            /* H3 */
            font-family: Open Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px; /* 150% */
        }
        &__contact {
        }
        &__email {
            color: var(--, #222121);

            /* Text */
            font-family: Open Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 150% */
            display: flex;
            text-align: center;
            justify-content: space-between;
        }
        &__address {
            color: var(--, #222121);

            /* Text */
            font-family: Open Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 150% */
            display: flex;
            text-align: center;
            justify-content: space-between;
        }
        &__changePassword {
            color: var(--, #538443);

            /* Caption */
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
        }
        &__deleteProfile {
            color: var(--, #538443);

            /* Caption */
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
        }
    }

    &__news {
        &__title {
        }
        &__content {
            width: 490px;
        }
        &__cards {
        }
        &__item {
        }
    }

    &__item {
        &__left {
        }
        &__name {
        }
        &_time {
        }
        &_right {
        }
        &__number {
        }
        &__respond {
        }
    }

    &__right {
        &__title {
        }
        &__content {
        }
        &__conversations {
        }
        &__conversations__card {
        }
        &__conversations__item {
        }
        &__requisition {
        }
        &__searchAddress {
        }
        &__searchAddress_input {
        }
        &__map {
        }
        &__addPhotos {
        }
        &__addPhotos_title {
        }
        &__addPhotos_cards {
        }
        &__addPhotos_item {
        }
        &__button {
        }
    }
}

.change {
    color: #538443;

    /* Caption */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
